---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/dhh
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cafe493be1f0b6e522fc19f0d21e9b412d2245a4c3ab58f381618952c9227a2f"
      Last-Modified:
      - Sun, 31 Oct 2021 13:14:35 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '47'
      X-Ratelimit-Reset:
      - '1637102988'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"login":"dhh","id":2741,"node_id":"MDQ6VXNlcjI3NDE=","avatar_url":"https://avatars.githubusercontent.com/u/2741?v=4","gravatar_id":"","url":"https://api.github.com/users/dhh","html_url":"https://github.com/dhh","followers_url":"https://api.github.com/users/dhh/followers","following_url":"https://api.github.com/users/dhh/following{/other_user}","gists_url":"https://api.github.com/users/dhh/gists{/gist_id}","starred_url":"https://api.github.com/users/dhh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dhh/subscriptions","organizations_url":"https://api.github.com/users/dhh/orgs","repos_url":"https://api.github.com/users/dhh/repos","events_url":"https://api.github.com/users/dhh/events{/privacy}","received_events_url":"https://api.github.com/users/dhh/received_events","type":"User","site_admin":false,"name":"David
        Heinemeier Hansson","company":"Basecamp","blog":"https://dhh.dk","location":null,"email":null,"hireable":null,"bio":null,"twitter_username":null,"public_repos":3,"public_gists":51,"followers":16219,"following":0,"created_at":"2008-03-10T17:53:51Z","updated_at":"2021-10-31T13:14:35Z"}'
  recorded_at: Tue, 16 Nov 2021 22:10:49 GMT
- request:
    method: get
    uri: https://api.github.com/users/dhh/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f2c04eda3e936e67714c16a2caf98d73df8bd3f814305e82d4bd8409b950d9ba"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '46'
      X-Ratelimit-Reset:
      - '1637102987'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":81754,"node_id":"MDEwOlJlcG9zaXRvcnk4MTc1NA==","name":"asset-hosting-with-minimum-ssl","full_name":"dhh/asset-hosting-with-minimum-ssl","private":false,"owner":{"login":"dhh","id":2741,"node_id":"MDQ6VXNlcjI3NDE=","avatar_url":"https://avatars.githubusercontent.com/u/2741?v=4","gravatar_id":"","url":"https://api.github.com/users/dhh","html_url":"https://github.com/dhh","followers_url":"https://api.github.com/users/dhh/followers","following_url":"https://api.github.com/users/dhh/following{/other_user}","gists_url":"https://api.github.com/users/dhh/gists{/gist_id}","starred_url":"https://api.github.com/users/dhh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dhh/subscriptions","organizations_url":"https://api.github.com/users/dhh/orgs","repos_url":"https://api.github.com/users/dhh/repos","events_url":"https://api.github.com/users/dhh/events{/privacy}","received_events_url":"https://api.github.com/users/dhh/received_events","type":"User","site_admin":false},"html_url":"https://github.com/dhh/asset-hosting-with-minimum-ssl","description":"Rails
        plugin for picking a non-ssl asset host as often as possible","fork":false,"url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl","forks_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/forks","keys_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/keys{/key_id}","collaborators_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/teams","hooks_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/hooks","issue_events_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/issues/events{/number}","events_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/events","assignees_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/assignees{/user}","branches_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/branches{/branch}","tags_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/tags","blobs_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/git/refs{/sha}","trees_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/git/trees{/sha}","statuses_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/statuses/{sha}","languages_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/languages","stargazers_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/stargazers","contributors_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/contributors","subscribers_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/subscribers","subscription_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/subscription","commits_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/commits{/sha}","git_commits_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/git/commits{/sha}","comments_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/comments{/number}","issue_comment_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/issues/comments{/number}","contents_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/contents/{+path}","compare_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/compare/{base}...{head}","merges_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/merges","archive_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/downloads","issues_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/issues{/number}","pulls_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/pulls{/number}","milestones_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/milestones{/number}","notifications_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/labels{/name}","releases_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/releases{/id}","deployments_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/deployments","created_at":"2008-11-27T16:21:03Z","updated_at":"2021-10-10T20:59:02Z","pushed_at":"2008-11-27T21:59:35Z","git_url":"git://github.com/dhh/asset-hosting-with-minimum-ssl.git","ssh_url":"git@github.com:dhh/asset-hosting-with-minimum-ssl.git","clone_url":"https://github.com/dhh/asset-hosting-with-minimum-ssl.git","svn_url":"https://github.com/dhh/asset-hosting-with-minimum-ssl","homepage":"","size":81,"stargazers_count":79,"watchers_count":79,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":14,"mirror_url":null,"archived":true,"disabled":false,"open_issues_count":0,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":14,"open_issues":0,"watchers":79,"default_branch":"master"},{"id":79943,"node_id":"MDEwOlJlcG9zaXRvcnk3OTk0Mw==","name":"conductor","full_name":"dhh/conductor","private":false,"owner":{"login":"dhh","id":2741,"node_id":"MDQ6VXNlcjI3NDE=","avatar_url":"https://avatars.githubusercontent.com/u/2741?v=4","gravatar_id":"","url":"https://api.github.com/users/dhh","html_url":"https://github.com/dhh","followers_url":"https://api.github.com/users/dhh/followers","following_url":"https://api.github.com/users/dhh/following{/other_user}","gists_url":"https:[...]
- request:
    method: get
    uri: https://api.github.com/users/abc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d9a802197ea6b60c76bb8c0903f3fa8144624272a9cb9cf1e72045ae65588353"
      Last-Modified:
      - Sat, 13 Nov 2021 16:01:37 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
    [...]
- request:
    method: get
    uri: https://api.github.com/users/abc/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ac503accda3d0b172cdc2eaa716eaed28cb06b730684f5c988b516561fac8b79"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '44'
  [...]
- request:
    method: get
    uri: https://api.github.com/users/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '43'
      X-Ratelimit-Reset:
      - '1637102988'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest"}'
  recorded_at: Tue, 16 Nov 2021 22:21:41 GMT
- request:
    method: get
    uri: https://api.github.com/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '42'
      X-Ratelimit-Reset:
      - '1637102987'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest"}'
  recorded_at: Tue, 16 Nov 2021 22:21:41 GMT
recorded_with: VCR 6.0.0
